body {
	background-color: #6886A0;
}

h1 {
	font-size: 250%;
	text-align: center;
	color: white;
}

.red-span {
	color: red;
}

.mot-pdg {
	color: white;
	text-align: center;
	background-color: #7496b2;
	width: 80%;
	margin: auto;
}

.container {
	display: flex;
	justify-content: space-around;
}

.content {
	margin: 10px;
}

.row {
	text-align: center;
}